<p id="notice"><%= notice %></p>

<p>
  <strong>Regnumber:</strong>
  <%= @vehicle.regNumber %>
</p>

<p>
  <strong>VehicletypeImage:</strong>
  <%= @vehicle.vehicleType %>
</p>

<p>
  <strong>Enginesize:</strong>
  <%= @vehicle.engineSize %>
</p>

<p>
  <strong>Fueltype:</strong>
  <%= @vehicle.fuelType %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @vehicle.colour %>
</p>

<p>
  <strong>Company:</strong>
  <%= @vehicle.company.address %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
