

<p>
  <strong>Regnumber:</strong>
  <%= @vehicle.regNumber %>
</p>

<p>
  <strong>VehicletypeImage:</strong>
  <%= image_tag @vehicle.vehicleType, size: "200x160" %>

</p>

<p>
  <strong>BrandName:</strong>
  <%= @vehicle.BrandName %>
</p>

<p>
  <strong>Enginesize:</strong>
  <%= @vehicle.engineSize %>
</p>

<p>
  <strong>Fueltype:</strong>
  <%= @vehicle.fuelType %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @vehicle.colour %>
</p>

<p>
  <strong>RentalPrice:</strong>
  <%= euro @vehicle.price %>
</p>

<p>
  <strong>Companylocation:</strong>
 <%= @vehicle.company.address %>
</p>




<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
